@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans overflow-x-hidden bg-gray-50 text-slate-900;
  }
}

/* Material Icons Helper */
.material-symbols-outlined {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}